#body{
	display: block;
	margin: 0;
	background-color: #F5FFFA;
}

#wrapper{
	padding-top: 70px;
	padding-left: 15%;
	padding-right: 15%;
}


#header{
	margin: 0 auto;
	padding: 3px;
	padding-bottom: 45px;
	text-align: center;
}

.dock-fixed{
	background-color: black;
}

select.select-mini, .select-mini{
    height: auto;
    line-height: 14px;
    max-width: 60px;
}

.decal-align{
	margin-left: 10px;	
}

.form-inline .form-group{
    margin-left: 0;
    margin-right: 0;
}

/* Formulaire enregistrement */

.form{
	border: 1px black;
}

.form fieldset{
	border: none;
	width: 100%;
	float: left;
	margin: 0px;
	padding: 5px;
	font-size: 15px;
	font-weight: bold;
}

.form > fieldset{
	border: 10px black;
	border-radius: 5px;
}
.form  fieldset > legend{
	margin-left: 30px;
	color: red;
	font-weight: normal;
	font-size: 20px;
	font-style: italic;	
	border-bottom: 0.5px grey;
}

.form > legend{
	width: 100%;
	font-size: 30px;
	padding: 25px 0px;
}
.form label{
	width: 100px;
	float: left;
	text-align: right;
	margin-right: 10px;
}

.form input, .form textarea{
	border-radius: 5px;
	border: 2px inset;
}
.form input{
	height: 20px;
}
